@model BikeFormModel
@{
    ViewData["Title"] = "Add Bike";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_BikeFormPartial" model="@Model" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}